body , html  {
  overflow-y: hidden;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8e7754;
  width: 100%;
  height: 100vh;
  /* z-index: 1111111100000; */
}

.tall-stack {
  -webkit-animation: slide-plate-out 6000ms infinite;
          animation: slide-plate-out 6000ms infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.plate {
  width: 230px;
  height: 14px;
  background: #D3EBEA;
  position: relative;
  border-radius: 6px 6px 2rem 2rem;
  -webkit-animation: slide-plate-in 6000ms infinite;
          animation: slide-plate-in 6000ms infinite;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.plate .plate-bottom {
  content: '';
  display: block;
  height: 50%;
  width: 140px;
  background: #c5e5e3;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -70px;
  border-radius: 0 0 1rem 1rem;
  z-index: 1;
}

.plate .shadow {
  position: absolute;
  top: 130%;
  left: 50%;
  margin-left: -90px;
  z-index: 0;
  width: 180px;
  height: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 80%;
  z-index: 0;
}

.butter {
  width: 48px;
  height: 12px;
  background: #EADD4D;
  margin: auto;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 -2px 0 2px rgba(85, 74, 35, 0.1);
          box-shadow: inset 0 -2px 0 2px rgba(85, 74, 35, 0.1);
}

.pancake {
  width: 200px;
  height: 14px;
  background: #D8CB9F;
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 -2px 0 3px rgba(85, 74, 35, 0.1);
          box-shadow: inset 0 -2px 0 3px rgba(85, 74, 35, 0.1);
  margin: auto;
}

.falling-element {
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forward;
          animation-fill-mode: forward;
  -webkit-animation: element-drop 6000ms infinite;
          animation: element-drop 6000ms infinite;
  position: relative;
}

.falling-element:nth-child(8) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.falling-element:nth-child(7) {
  -webkit-animation-delay: 0.62s;
          animation-delay: 0.62s;
}

.falling-element:nth-child(6) {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}

.falling-element:nth-child(5) {
  -webkit-animation-delay: 1.06s;
          animation-delay: 1.06s;
}

.falling-element:nth-child(4) {
  -webkit-animation-delay: 1.28s;
          animation-delay: 1.28s;
}

.falling-element:nth-child(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.falling-element:nth-child(2) {
  -webkit-animation-delay: 1.72s;
          animation-delay: 1.72s;
}

.falling-element:nth-child(1) {
  -webkit-animation-delay: 1.94s;
          animation-delay: 1.94s;
}

@-webkit-keyframes element-drop {
  0%, 100% {
    -webkit-transform: translateY(-100vh) scaleY(0.7);
            transform: translateY(-100vh) scaleY(0.7);
    opacity: 1;
  }
  11% {
    -webkit-transform: translateY(20%) scaleY(1.2);
            transform: translateY(20%) scaleY(1.2);
  }
  13% {
    -webkit-transform: translateY(-30%) scaleY(0.9);
            transform: translateY(-30%) scaleY(0.9);
  }
  14%, 67% {
    -webkit-transform: translateY(0%) scaleY(1);
            transform: translateY(0%) scaleY(1);
    opacity: 1;
  }
  68% {
    opacity: 0;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: translateY(-100vh) scaleY(0.7);
            transform: translateY(-100vh) scaleY(0.7);
  }
}

@keyframes element-drop {
  0%, 100% {
    -webkit-transform: translateY(-100vh) scaleY(0.7);
            transform: translateY(-100vh) scaleY(0.7);
    opacity: 1;
  }
  11% {
    -webkit-transform: translateY(20%) scaleY(1.2);
            transform: translateY(20%) scaleY(1.2);
  }
  13% {
    -webkit-transform: translateY(-30%) scaleY(0.9);
            transform: translateY(-30%) scaleY(0.9);
  }
  14%, 67% {
    -webkit-transform: translateY(0%) scaleY(1);
            transform: translateY(0%) scaleY(1);
    opacity: 1;
  }
  68% {
    opacity: 0;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: translateY(-100vh) scaleY(0.7);
            transform: translateY(-100vh) scaleY(0.7);
  }
}

@-webkit-keyframes slide-plate-in {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  15%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-plate-in {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  15%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-plate-out {
  65% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  85%, 100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@keyframes slide-plate-out {
  65% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  85%, 100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}
/*# sourceMappingURL=style.css.map */